
    <!-- beer.image_url
    beer.name
    beer.description
    beer.tagline -->
<div class="beerContainer">
    <% data.forEach(beer => { %>
        <%- include("partials/beer.ejs", {beer}) %>
    <% }) %> 
</div>

