/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    font-weight: 800;
}

h3 {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav  {
    flex-direction: column;
    background-color: #2081c3;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;

}

nav li {
    padding: 0 20px;
}

nav a {
    text-decoration: none;
    color: #f7f9f9;
}

/* INDEX */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container img {
    width: 300px;
    height: auto;
    margin: 30px;
}

.button {
    background-color: #2081c3;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    box-shadow: 5px 5px 5px gray;
}

.button a {
    text-decoration: none;
    color: #f7f9f9;
}

/* Beer page */

.beerContainer {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin: 60px 60px;
    justify-content: center;
}

.singleBeer {
    width: 30%;
}

.singleBeer img {
    height: 190px;
    margin-bottom: 40px;
}

/* Random Beer */
.randomBeerContainer {
    display: flex;
    justify-content: center;
    width: 80vw;
    margin: 50px auto;

}

.img {
    width: 100px;
    height: auto;
}

.text{
    padding-left: 80px;
    padding-right: 80px;

} 

.text h1 {
    margin-bottom: 1rem;
}

.tagline {
    color: #bfbfbf;
    font-size: 1rem;
    font-weight: 200;
    padding-bottom: 1rem;
}

.description {
    text-align: justify;
    padding-bottom: 20px;
}

.food-pairing {
    list-style-position: inside;
    padding-left: 2rem;
    margin-bottom: 2rem;
}


